@tailwind base;

@tailwind components;

@tailwind utilities;


.mainInput {
  width: 400px;
  background-color: lightgray;
  border: none;
  border-radius: 10px;
  height: 30px;
}

.filteredCardWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
      align-items: center;
    justify-content: center;
}

.filteredCard {
  margin-top: 1px;
  width: 150px;
  background-color: gray;
  cursor: pointer;
}

.wrapper {
  background-color: lightgray;
padding: 0 250px;
margin: 0 100px;
border-radius: 20px;
  /* display: flex;
  margin: 100px;
  justify-content: center; */

}

.buttonWrapper {
  /* background-color: lightblue; */
  flex-direction: row;
  display: flex;
  justify-content: center;
  
}

.button {
  border-radius: 20px;
  background-color: slategray;
  margin: 20px;
  width: 150px;
  color: white;
  font-size: 20px;
  padding: 2px;
}

/* .button:focus {
  background-color: black;
} */

.buttonSelected {
    background-color: black;
}

.wholeBenefitWrapper {
  /* background-color: lightblue; */
  flex-direction: row;
  display: flex;
  justify-content: center;


}

.benefitWrapper {
flex-direction: column;
margin: 30px;
}



ul {
  list-style-type:none
}

.priceWrapper {
  display: flex;
  justify-content: center;
}
.priceText {
  font-size: 30px;
  font-weight: bold;
}

.monthText {
  font-size: 20px;
}
